.item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    margin-bottom: 20px;
    text-align: center;
    color: #09487c;
}

.percentage {
    display: flex;
}

.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 80px;
    color: #ffffff;
    flex-direction: column;
    border: 1px solid white;
}

.title {
    font-size: 18px;
}

.stat_list {
    font-size: 20px;
}
